#page-wrapper {
  /* Page Wrapper */
  position: static;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 48px;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0px 10px;
}
body {
  padding: 10px;
  line-height: 1;
  background: rgb(253, 251, 245);
}

#page-wrapper {
  /* Page Wrapper */
  position: static;
}

/* --- HEADER PART --- */
/* navigation */
nav {
  color: #fff;
  padding: 10px;
  text-align: center;
  padding: 20px 10px;
  display: flex;
  justify-content: right;
}

/* header */
header > #small-title {
  position: absolute;
  font-size: 10px;
  margin-top: 25px;
}
header > h1 {
  text-align: left;
  font-size: 50px;
  margin-top: 60px;
  margin-bottom: 60px;
}

/* --- BODY PART --- */
/* article */
.article-card {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.image-wrapper {
  /* position: relative;
   width: 100%;
   height:0'
   padding-bottom: 56.26%;
   overflow: hidden; */
}
.article-img {
  width: 400px;
  /* width: 100%;
   height: 100%; */
}
.article-card > .list-group > h2 {
   font-size: 25px;
   margin-top: 20px;
   margin-bottom: 10px;
}
.article-content > li {
  display: flex;
  justify-content: space-around;
  font-size: 10px;
  line-height: 30px;
  flex: 1;
  justify-content: left;
}

/* Newsletter */
.newsletter > h1 {
  text-align: left;
  font-size: 50px;
  margin-top: 60px;
  margin-bottom: 60px;
}
footer {
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px 0px 20px 0px;
  border-bottom: 1px rgb(25, 25, 25) solid;

  /* Inside Auto Layout */
  flex: none;
  order: 4;
  align-self: stretch;
  flex-grow: 0;
  margin: -1px 0px;
}

.footer-logo-column {
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: flex-start;
  border-right: 1px solid rgb(25, 25, 25);

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.footer-nav-column {
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0px 48px;
  text-align: left;
}
.footer-nav-column > h3 {
  text-align: left;
  font-size: 20px;
}
.footer-ul-style > li {
  line-height: 30px;
}
