* {
   margin: 0;
}

body {
   padding: 10px;
   line-height: 1;
   background: rgb(253, 251, 245);
}

#page-wrapper {
   position: static;
}

/* --- HEADER PART --- */
/* navigation */
nav {
   color: #fff;
   padding: 10px;
   text-align: center;
   padding: 20px 10px;
   display: flex;
   justify-content: right;
}

/* header */
header > #small-title {
   position: absolute;
   font-size: 10px;
   margin-top: 25px;
}
header > h1 {
   text-align: left;
   font-size: 50px;
   margin-top: 60px;
   margin-bottom: 60px;
}

/* --- BODY PART --- */
/* article */
.article-card {
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-between;
}
.image-wrapper {
   /* position: relative;
   width: 100%;
   height:0'
   padding-bottom: 56.26%;
   overflow: hidden; */
}
.article-img {
   width: 400px;
   /* width: 100%;
   height: 100%; */
}
.article-card > .list-group > h2 {
   font-size: 25px;
   margin-top: 20px;
   margin-bottom: 10px;
}
.article-content > li {
   display: flex;
   justify-content: space-around;
   font-size: 10px;
   line-height: 30px;
   flex: 1;
   justify-content: left;
}

/* Newsletter */
.newsletter > h1 {
   text-align: left;
   font-size: 50px;
   margin-top: 60px;
   margin-bottom: 60px;
}
