@media (max-width: 768px) {
  .head-navigation {
    display: flex;
    flex-direction: column;
  }
  .article-card {
    flex-direction: column;
    justify-content: space-between;
  }

  .nav-group {
    flex-direction: column;
    align-items: baseline;
  }
}
